@model bladelinkv2.Models.ContainOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContainOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Comm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Comm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Cont }) |
    @Html.ActionLink("Back to List", "Index")
</p>
