@model PagedList.IPagedList<bladelinkv2.Models.Client>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Client";
}

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h2>List of clients</h2>
            </div>
            <div>
                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                {
                    <p>
                        Find by name or first name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Search" />
                    </p>
                }
                <table class="table">

                    @foreach (var item in Model)
                    {
                        <div class="form-group">
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fname)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_cli }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID_cli }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_cli })
                                </td>
                            </tr>
                        </div>
                    }

                </table>
                <div class="pag">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</div>